@import url("https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap");

body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  height: 100%;
  min-height: 100vh;
  background: linear-gradient(#000000a2, #05000856),
    url(./images/star-wars-lorem-bg.webp) center/cover no-repeat;
  background-attachment: fixed;
}

.title-img-container {
  display: flex;
  justify-content: center;
  margin: 2.5rem 0;
}
.logo {
  display: block;
  width: 30rem;
}

.lorem-container {
  max-width: 1170px;
  margin: 2rem auto;
  padding: 3rem;
  background: rgba(140, 130, 130, 0.188);
  border-radius: 0.35rem;
}

.lorem-container p {
  font-size: 1.25rem;
  line-height: 1.25;
  color: aliceblue;
}

.lorem-form {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.lorem-form label {
  font-size: 1.3rem;
  color: aliceblue;
}

.lorem-form input {
  background: rgb(215, 215, 219);
  width: 3rem;
  height: 1.7rem;
  border-color: transparent;
  padding: 0.35rem 0.5rem;
  border-radius: 0.25rem;
  font-size: 1.25rem;
}

.submit-btn {
  display: inline-block;
  background: #fcdf2b;
  border-color: transparent;
  padding: 0.5rem 0.35rem;
  border-radius: 0.25rem;
  cursor: pointer;
  text-transform: capitalize;
  font-size: 1.3rem;
  margin-left: 1.2rem;
}

.submit-btn:hover {
  background: #e3c927;
}
